html,body{
    height: 100%;
}
body{
    background-color: #000a0a;
}
.mainbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.about{
    color: white;
}
.title-bar {
    background:linear-gradient(90deg,#310000,#474205);
}