html,body{
    height: 100vh;
}
body{
    background-color: #008080;
}
.mainbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.window {
    min-width: 60vw;
}
.title-bar {
    background:linear-gradient(90deg,#e4c03e,#4a40a1);
}
.window,
.title-bar,
.field-row,
a.field-row,
button.field-row {
    font-size: 13px;
}