html,body{
    height: 100%;
    overflow: hidden;
}
.fa-solid,
.fa-brands,
.fa-solid {
    color: black;
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc3ca;
    background-image: url("data:image/svg+xml,%3Csvg width='76' height='18' viewBox='0 0 76 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32 18c-2.43-1.824-4-4.73-4-8 0-4.418-3.582-8-8-8H0V0h20c5.523 0 10 4.477 10 10 0 4.418 3.582 8 8 8h20c4.418 0 8-3.582 8-8 0-5.523 4.477-10 10-10v2c-4.418 0-8 3.582-8 8 0 3.27-1.57 6.176-4 8H32zM64 0c-1.67 1.256-3.748 2-6 2H38c-2.252 0-4.33-.744-6-2h32z' fill='%23ff6a7c' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    text-align: center;
    font-family: Rubik;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    max-width: 65%;
    max-height: 50%;

    outline: 2px solid #FF6A7C65;
    border-radius: 25px;
    padding: 50px;
    backdrop-filter: blur(10px);
    background-color: #0000001a;
    color: #000;
}
hr{
    width: 20%;
    color: #FF6A7C65;
   
}
@media (max-width: 200px) {
    html,body{
        overflow: scroll;
    }
    main{
        max-height: 95%;
    }
}
@media (max-width: 400px) {
    html,body{
        overflow: scroll;
    }
    main{
        max-height: 95%;
    }
}
@media (max-width: 600px) {
    html,body{
        overflow: scroll;
    }
    main{
        max-height: 95%;
    }
}
#kasjusz{
    width: 150px;
    border-radius: 50%;
    outline: 2px solid black;
}
#links{
    padding-top: 25px;
    width: 100%;
    height: 40px;
}
.link_kurwa{
    border: none;
    padding: 20px;
    height: 30px;
}
@media (prefers-color-scheme: dark){
    body{
        background-color: #29080c;
        background-image: url("data:image/svg+xml,%3Csvg width='76' height='18' viewBox='0 0 76 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32 18c-2.43-1.824-4-4.73-4-8 0-4.418-3.582-8-8-8H0V0h20c5.523 0 10 4.477 10 10 0 4.418 3.582 8 8 8h20c4.418 0 8-3.582 8-8 0-5.523 4.477-10 10-10v2c-4.418 0-8 3.582-8 8 0 3.27-1.57 6.176-4 8H32zM64 0c-1.67 1.256-3.748 2-6 2H38c-2.252 0-4.33-.744-6-2h32z' fill='%23ff6a7c' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
    main{
        outline: 2px solid #D5394C65;
        background-color: #00000075;
        color: #FFF;
    }
    .fa-solid,
    .fa-brands,
    .fa-solid {
        color: #FFF;
  }
  hr{
    width: 20%;
    color: #D5394C65;
   
}
}